<!doctype html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="fas fa-mobile" />
    <title>NAVJOY</title>
</head>

<body>

    <nav id="mainNavbar" class="navbar navbar-light navbar-expand-md py-0 fixed-top">
        <a href="/" class="navbar-brand" id="navjoyBrand"><img src="navjoyLOGO.png"> NAVJOY</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"> HOME </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"> ABOUT ME </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/games"> GAMES </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"> CONTACT </a>
                </li>
            </ul>
        </div>
    </nav>