<% include partials/header %>

    <div class="container" id="aboutContainer">
        <img src="https://i.imgur.com/lka9nNy.jpg">
        <h1> Navjot Singh </h1>
        <p>Hey there! My name is Navjot Singh. I’m a current college student who started developing games in high
            school. I only develop for mobile right now, but that will hopefully change in the future. I’ve got a whole
            list of projects I’m planning to create, each one better than the next. Shoot me a follow on <a
                href="http://www.twitter.com/nsingh_32">Twitter</a> if you
            like any of my games and want to stay updated on new information and future creations.</p>
    </div>

<% include partials/footer %>